{% extends 'base.html.twig' %}
{% block body %}

    <h1>{{ target.name }} infos:</h1>
    <div class="container-fluid  bg-light rounded p-3 ">
        <div class="row">
            <div class="col-3 col-sm-3 placeholder text-center">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200"
                     height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4 >Site N°1</h4>
                <div class="text-muted">TOP 3 | TOP 10 </div>
            </div>
            <div class="col-3 col-sm-3 text-center">
                <h3>Group</h3>
                <a href="{{ path('group_show',{'id': target.group.id }) }}"> {{ target.group.name }}</a>
            </div><div class="col-3 col-sm-3  text-center">
                BLOC 3
            </div>
            <div class="col-3 col-sm-3">
                <div class="text-right">
                    <a href="{{ path('target_delete', {'id': target.id}) }}"><button class="btn btn-danger">✕</button></a>
                </div>

            </div>
        </div>
    </div>
    <br>
{% endblock %}