<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Serpofony !{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'header.html.twig' %}

<div class="container-fluid">
    <div class="row">
        {% include 'nav.html.twig' %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

    {% block body %}{% endblock %}
        </main>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>
