<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('homepage') }}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('searches') }}">Searches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('targets') }}">Targets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"  href="{{ path('users') }}">Users</a>
        </li>
    </ul>

</nav>
